@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap") 

/*- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)*/



:root {
    --primary-dark-blue-1: hsl(217, 28%, 15%);
    --primary-dark-blue-2: hsl(218, 28%, 13%);
    --primary-dark-blue-3: hsl(216, 53%, 9%);
    --primary-dark-blue-4: hsl(219, 30%, 18%);
  
    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-light-red: hsl(0, 100%, 63%);
  
    --neutral-white: hsl(0, 0%, 100%);
  
    --body-font-size: 1.4rem;
    --font-family-heading: "Raleway", sans-serif;
    --font-family-body: "Open Sans", sans-serif;
  
    --weight-light: 400;
    --weight-bold: 700;
  
    --screen-desktop: 1440px;
    --screen-mobile: 375px;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color:hsl(0, 0%, 100%);
}

html {
    font-family: "Raleway", sans-serif;    
    font-weight: 400;        
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: hsl(218, 28%, 15%);
    font-size: 14px;
}

header {
    background-color: hsl(217, 28%, 15%);
    background-size: 155% 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font: Raleway;    
}

.header-section {
    width: 100%;
    display: flex;
    padding: 70px 80px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 5rem;
}

nav * {
    margin: 1rem;
    color: hsl(0, 0%, 100%);

}

nav a:hover {
    text-decoration: none;
    color:hsl(176, 68%, 64%)
}

header section {
    margin-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 1.2;
  }

.header-content {
    font-weight: 400, 700;
    color: hsl(0, 0%, 100%);
}

button {
    outline: none;
    border: none;
    padding: 1.3rem 2.5rem;
    background: hsl(176, 68%, 64%)        
}

button {
    border-radius: 50px;
    font-weight: 700;
    font-size: large;
    margin-top: 20px;
    color:hsl(0, 0%, 100%);
    align-items: center;
}

button:hover {
    cursor: pointer;
    transform: scale(1.0);
}

.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 95px 145px;
    margin: 130px 0;
    padding: 0 280px;
    background-color: hsl(218, 28%, 15%);
    line-height: 1.2;
  }
  
  .feature {
    text-align: center;
    
  }
  
  .feature h3 {
    margin: 25px 0 13px 0;
  }

.more-information {
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-color: hsl(218, 28%, 13%);
}

.more-information-icon {
    width: auto;
    height: 450px;    
    margin-right: 45px;
    
}

.more-information-content :not(:last-child) {
    margin-bottom: 25px;
}

.more-information-content {
    font-family: 'Raleway', sans-serif;
    color:hsl(0, 0%, 100%)
}

.more-information-link {
  justify-content: space-around;
  color: var(--cyan);
  border-bottom: 1px;
}

.more-information-link a * {
    color:hsl(176, 68%, 64%);
}

.more-information-link img{
    margin-left: 3px;
    vertical-align: middle;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 135px;
}

.testimonial {
    position: relative;
    background: hsl(219, 30%, 18%);
    padding: 30px 36px;
    border-radius: 5px;
}

.testimonial:first-child::before {
    content: url("bg-quotes.png");
    position: absolute;
    top: -30px;
    left: -15px;
    z-index: -1;
}

.testimonial p {
    margin-bottom: 25px;
}
  
.profile {
    display: flex;
}

.profile img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
}
  
.profile-details h5 {
    font-size: 10px;
}
  
.profile-details p {
    font-size: 10px;
}

.access {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: hsl(218, 28%, 13%);
    text-align: center;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    line-height: 1.5;
}

.access h2 {
    margin-bottom: 30px;
}

.access p {
    margin-bottom: 0.5px;
    text-align: center;
}

input {
    width: 480px;
    height: 50px;
    padding: 20px 50px;
    border-radius: 50px;
    margin-right: 20px;
    outline: none;
    border: none;
    padding-left: 30px;
    font-size: 1em;
    margin-bottom: 1.5rem;
}


#submit {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    font-family: 'Raleway', sans-serif;
    font-size: 75em;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
} 

#submit :hover{
    background-image: linear-gradient(to left, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

footer {
    background-color:hsl(216, 53%, 9%);
    margin-top: 10px;
    box-sizing: border-box;
    height:300px;
    display:flex;
    grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 70px;
    padding: 200px 80px 80px 100px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.footer-logo {
    margin-bottom: 35px;
    grid-area: logo;
}

.footer-location {
    display: grid;
    grid-area: location;
    grid-template-columns: 5% 95%;
}
.footer-location span {
    padding-left: 35px;
}

.footer-contacts {
    grid-area: contacts;
}

.footer-contacts p {
    margin-bottom: 26px;
}

.footer-contacts img {
    margin-right: 24px;
}

.footer-links1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: links1;
}

.footer-links1 a {
    margin-bottom: 26px;
}

.footer-links2 {
    margin-bottom: 24px;
}

.social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: social-icons;
    transition: transform 0.1s ease-in;
}

.social-icons a i:hover {
    transform: scale(1.6);
}

.social-icons i {
    font-size: 25px;
}

.fa-facebook{
    justify-self: end;
}
.fa-twitter{
    justify-self: center;
}
.fa-intagram{
    justify-self: start;
}
